In [1]:
print("hello world")

hello world

In [2]:
# create a tuple
my_tuple = ("apple", "banana", "cherry",34, 5.6, True, False)
print(my_tuple)

('apple', 'banana', 'cherry', 34, 5.6, True, False)

In [3]:
my_list = list (my_tuple)
print(my_list)

['apple', 'banana', 'cherry', 34, 5.6, True, False]

In [7]:
my_list.append("orange,grape")
my_list.append("99")

print(my_list)
type(my_list)

['apple', 'banana', 'cherry', 34, 5.6, True, False, 'orange,grape', '99', 'orange,grape', '99']

list

In [8]:
my_tuple = tuple(my_list)
print(my_tuple)
type(my_tuple)

('apple', 'banana', 'cherry', 34, 5.6, True, False, 'orange,grape', '99', 'orange,grape', '99')

tuple

In [10]:
print (my_tuple)
print (my_tuple [1:5])

('apple', 'banana', 'cherry', 34, 5.6, True, False, 'orange,grape', '99', 'orange,grape', '99')
('banana', 'cherry', 34, 5.6)