In [5]:
#Ordered (index থাকে)
#Mutable (তৈরি হওয়ার পর পরিবর্তন করা যায় — মানে item যোগ/মুছে ফেলা যায়)
#duplicate values রাখা যায়
my_tuple = ("apple", "banana", "cherry")
print (my_tuple)

#

('apple', 'banana', 'cherry')

In [16]:
# single item tuple
my_tuple1 = ("apple")
print (my_tuple1)

type(my_tuple1)

apple

str

In [17]:
my_tuple2 = ("apple",)
print (my_tuple2)

type(my_tuple2)

('apple',)

tuple

In [23]:
# multiple item tuple
my_tuple3 = ("apple", "banana", "cherry", 23, 4.5, True, False)
print(my_tuple3)
type(my_tuple3)

('apple', 'banana', 'cherry', 23, 4.5, True, False)

tuple

In [21]:
my_tuple3 = ("apple", "banana", "cherry", 23, 4.5, True, False)
print(my_tuple3)
type(my_tuple3)

('apple', 'banana', 'cherry', 23, 4.5, True, False)

tuple

In [26]:
#print index
print (my_tuple3[1:5])

('banana', 'cherry', 23, 4.5)