In [7]:
import pandas as pd

In [8]:
data = {
    "height_cm": [170, 165, 180, 175, 172, 168, 180, 175],
    "weight_kg": [65, 70, 80, 75, 72, 66, 80, 75],
    "age":       [25, 30, 35, 40, 28, 32, 35, 40],
    "city":      ["Dhaka", "Chattogram", "Dhaka", "Khulna", "Dhaka", "Dhaka", "Sylhet", "Khulna"],
}

In [9]:
df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   height_cm  8 non-null      int64
 1   weight_kg  8 non-null      int64
 2   age        8 non-null      int64
 3   city       8 non-null      object
dtypes: int64(3), object(1)
memory usage: 388.0+ bytes

In [10]:
df.head()

   height_cm  weight_kg  age        city
0        170         65   25       Dhaka
1        165         70   30  Chattogram
2        180         80   35       Dhaka
3        175         75   40      Khulna
4        172         72   28       Dhaka

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   height_cm  8 non-null      int64
 1   weight_kg  8 non-null      int64
 2   age        8 non-null      int64
 3   city       8 non-null      object
dtypes: int64(3), object(1)
memory usage: 388.0+ bytes

In [12]:
df.shape

(8, 4)